# Node / React
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Audio
*.wav
*.mp3
temp_audio.wav

# Environment files
.env
.env.local
